
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    height: auto;
    background: #121725;
    font-family: 'Chivo', sans-serif;
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(18, 23, 37, 0.7993);
  z-index: 1;
}

.logo{
  position: absolute;
  z-index: 3;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 0px 24px 94px;
}

.headline{
  color: #54E6AF;
  text-align: center;
  font-family: "Chivo";
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 175px;
}

.headline span{
  color: #FFF;
}

.main-text{
  color: #C2CBE5;
  text-align: center;
  font-family: "Chivo";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 16px;
  max-width: 327px;
}

.fourLogos{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 33px;
  min-width: 327px;
}

.spotify{
  width: 56px;
  height: 17px;

}

.apple{
  width: 45px;
  height: 17px;
}

.google{
  width: 73px;
  height: 11px;
}

.pocket{
  width: 77px;
  height: 15px;  
}

.alert-output{
  color: #FB3E3E;
  font-family: "Chivo";
  font-size: 12px;
  font-weight: 400;
  padding-left: 32px;
  display: none;
}

.access-form{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-field{
  width: 327px;
  height: 46px;
  border-radius: 28px;
  background: #2C344B;
  color: #FFF;
  font-family: "Chivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 32px;
  border: none;
}

button{
  width: 326px;
  height: 46px;
  border-radius: 28px;
  background: #54E6AF;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
  color: #121725;
  font-family: "Chivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  border: none;
}

.dots{
  display: none;
}

/* for tablet */
@media (min-width: 768px) {
    body{
      background-size: 491px 767px;
      background-position: top right;
  }

  .overlay {
    display: none;
  }

  .logo{
    margin-left: 39px;
    margin-top: 50px;
    left: 70px;
    top: 0;
  }
  

  .container {
    width: 635px;
    min-height: calc(100vh - 62px);
    background: #121725;
    padding:0px;
    margin-top: 258px;
    justify-content:flex-start;
    margin-left: 39px;
    align-items: first baseline;
  }

  .headline{
    font-size: 48px;
    line-height: 56px;
    margin-top: 93px;
    width: 635px;
    text-align: left;
  }

  .main-text{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    margin-top: 31px;
    max-width: 445px;
  }

  .fourLogos{
    margin-top: 160px;
    min-width: 530px;
  }

  .spotify{
    width: 96px;
    height: 29px;
  }

  .apple{
    width: 78px;
    height: 29px;
  }

  .google{
    width: 125px;
    height: 18px;
  }

  .pocket{
    width: 129px;
    height: 26px; 
  }

  .alert-output{
    color: #FB3E3E;
    font-family: "Chivo";
    font-size: 12px;
    font-weight: 400;
    padding-left: 32px;
    text-align: left;
    display: none;
  }

  .access-form{
    margin-top: -148px;
    gap: 0px;
  }

  .input-field{
    width: 427px;
    height: 56px;
  }

  button{
    width: 162px;
    height: 46px;
    margin-top: -51px;
    margin-left: 260px;
  }

  .dots{
    display: block;
    position: fixed;
    bottom: 0;
    left: 30px;
  }
}


/* for desktop */

@media (min-width:1440px) {
  body{
    background-image: url(./assets/desktop/image-host.jpg);
    background-size: 888px 640px;
    background-position: center right;
}

.overlay {
  display: none;
}

.logo{
  margin-left: 165px;
  margin-top: 102px;
  left: 0px;
  top: 0;
}


.container {
  width: 723px;
  min-height: calc(100vh - 261px);
  margin-top: 261px;
  margin-left: 165px;
}

.headline{
  font-size: 52px;
  line-height: 62px;
  margin-top: 88px;
  width: 665px;
}

.main-text{
  margin-top: 24px;
}

.alert-output{
  color: #FB3E3E;
  font-family: "Chivo";
  font-size: 12px;
  font-weight: 400;
  padding-left: 32px;
  display: none;
}

button:hover{
  cursor: pointer;
}


.dots {
  left: auto;
  right: 30px;
  bottom: 78px;
}
}